dump.rdb
.metadata
.rvmrc
.rbenv-version
.ruby-version
.ruby-gemset
.bundle
db/*.sqlite3
log/*.log
log/
tmp/**/*
.idea/*
db/b003.dump
config/database.yml
config/database-troy.yml
*.dump
.DS_Store
.projectFilesBackups
db_full_archive*
.tddium*
*~
*#
*.sess
tmp

